<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handsome.qunyingzhuang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".chapter_3.Anli01.CustomTextViewActivity" />
        <activity android:name=".chapter_3.Anli02.FlashTextViewActivity" />
        <activity android:name=".chapter_3.Anli03.ToolBarActivity" />
        <activity android:name=".chapter_3.Anli04.CirCleProgressActivity" />
        <activity android:name=".chapter_3.Anli05.MusicViewActivity" />
        <activity android:name=".chapter_3.Anli06.CustomScrollViewActivity" />
        <activity android:name=".chapter_4.Anli01.TanXingListViewActivity" />
        <activity
            android:name=".chapter_4.Anli02.ShowAndHideListViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".chapter_4.Anli03.ChatListViewActivity" />
        <activity android:name=".chapter_4.Anli04.DongTaiListViewActivity" />
        <activity android:name=".chapter_5.DragViewTextActivity" />
        <activity android:name=".chapter_6.Anli01.ClockActivity" />
        <activity android:name=".chapter_6.Anli02.PrimaryColor" />
        <activity android:name=".chapter_6.Anli03.ColorMatrix" />
        <activity android:name=".chapter_6.Anli04.PixelsEffect" />
        <activity android:name=".chapter_6.Anli05.FlagBitmapMeshActivity" />
        <activity android:name=".chapter_6.RoundXfermode.RoundRectXfermodeActivity" />
        <activity android:name=".chapter_6.Anli06.GuaguaKaActivity" />
        <activity android:name=".chapter_6.Anli07.ReflectActivity"></activity>
        <activity android:name=".chapter_6.Anli08.SinActivity"></activity>
        <activity android:name=".chapter_6.Anli09.SimpleDrawActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>