<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handsome.qunyingzhuang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".chapter_3.CustomTextView.CustomTextViewActivity" />
        <activity android:name=".chapter_3.FlashTextView.FlashTextViewActivity" />
        <activity android:name=".chapter_3.ToolBar.ToolBarActivity" />
        <activity android:name=".chapter_3.CircleView.CirCleProgressActivity" />
        <activity android:name=".chapter_3.MusicView.MusicViewActivity" />
        <activity android:name=".chapter_3.CustomScrollView.CustomScrollViewActivity" />
        <activity android:name=".chapter_4.TanXingListView.TanXingListViewActivity" />
        <activity
            android:name=".chapter_4.ShowAndHideListView.ShowAndHideListViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".chapter_4.ChatListView.ChatListViewActivity"></activity>
        <activity android:name=".chapter_4.DongTaiListView.DongTaiListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>